# Dependencies
node_modules/
frontend/node_modules/

# User Uploads (keep folder structure)
uploads/*
!uploads/.gitkeep

# Database (keep folder structure)
data/*.sqlite
data/*.sqlite-journal
!data/.gitkeep

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/
